:root {
    --main-color: rgb(235, 232, 232);
    --header-color: rgb(213, 84, 72);
    --nav-color: rgb(255, 165, 119);
    --footer-color: rgb(137, 110, 105);

    --shadow: 0 4px 16px rgba(0,0,0,0.12);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    background-color: var(--main-color);

    height: 100%;
}

header {
    background-color: var(--header-color);
    box-shadow: var(--shadow);

    height: 100px;

    display: flex;
}

img {
    margin-top: 10px;
    margin-left: 10px;

    width: 80px;
    height: 80px;

    border-radius: 2000px;
}

header h1 {
    font-size: 2.5rem;

    margin-left: 40px;
    margin-bottom: 20px;

    align-content: end;
}

nav {
    margin-left: auto;
    margin-right: 20px;
    margin-bottom: 20px;

    align-content: end;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
    font-size: 2rem;
}

a {
    text-decoration: none;
    color: inherit;
}







section {
    width: 100%;
    height: 100%;

    display: flex;
}

div {
    background-color: var(--nav-color);

    flex: 15%;
}

section div h2 {
    margin-top: 20px;
    margin-bottom: 40px;

    text-align: center;
    font-size: 2rem;
}

section div ul {
    font-size: 1.8rem;
    justify-content: center;
    flex-direction: column;
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
    margin: 0 20px;
}

section div ul li {
    text-align: center;
}

#content {
    background-color: rgb(255, 255, 255);
    box-shadow: var(--shadow);

    padding: 20px;
    margin: 20px;

    flex: 85%;
}




footer {
    background-color: var(--footer-color);
    box-shadow: var(--shadow);

    height: 100px;
}






/* #896e69

Горячий шоколад

#f9f9ff

Хлопок

#ffa577

Дыня

#d55448

Тыква */